@media only screen and (min-width: 1366px) { 
section#home{
    .content-title{
        font-size: 6rem !important;
        width: 60% !important;
    }
}

section#about{
 .img-container{
     padding-top: 30% !important;
    img{
        width: 85% !important;
    }}
}

section#service{
    .horizantal-content{padding-top: 20% !important;}
    .alx-card-con{padding-top: 10%;}

}

section#skill{
    .horizantal-content{padding-top: 10% !important;}
    .skill-con{padding-top: 10%;}

}

section#portfolioAll{
    .portfolio-container{padding-right:  0 !important; padding-left: 10rem !important;}
}

section#contact{
    h1{padding-top: 10% !important;}
}

}
