section#lorem-text{
    width: 100%;
    display: flex;
    margin: 3rem 0;
    padding: 50px 0 0 0;
}
section#lorem-text .col-2{
    width: 24rem;
    /* height: 10vh; */
    display: flex;
    justify-content: space-between;
}
section#lorem-text .lorem-text-area{
    display: flex;
    flex-direction: column;
    width: 30rem;    
}
section#lorem-text .lorem-text-area h1{
font-size: 2rem;
line-height: 2.5rem;
}
section#lorem-text .lorem-text-area p{
    font-size: 1.4rem;
    line-height: 2.5rem;
    }
section#lorem-text .lorem-button{
width: 40rem;
height: 4.5rem;
padding-right: 0;
display: flex;
justify-content: flex-end;
align-items: center;
}
section#lorem-text .lorem-button:hover button{
    color: #fff;
}
section#lorem-text .lorem-button button{
    width: 14rem;
    height:3.2rem;
    border-radius: 6rem;
    outline: none;
}
@media only screen and (max-width:600px){
section#lorem-text{
     width: 100%;
     height: 20vh;
     margin: 0;
     flex-direction: column;
    }
section#lorem-text .col-2{
    display: none;
}
section#lorem-text .lorem-text-area{
    width: 100%;    
    position: relative;
}
section#lorem-text .lorem-text-area h1{
 text-align: center;
}
section#lorem-text .lorem-text-area p{
    display: block;
    width: 100%;
    text-align: center;
    }
section#lorem-text .lorem-button{
width: 100%;
display: block;
left:30%;
margin-top: 1.5rem;
position: relative;
}
}